{# templates/forgot_password/change_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="container">
        <h1>Change Password</h1>

        <p>Please enter your new password.</p>

        {{ form_start(form) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirmPassword) }}
        {{ form_end(form) }}
    </div>
{% endblock %}